*{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: medium;
}

.top{
background-color: royalblue;

}

.color{
  color: white;
  text-align: center;
}
.align{
  margin-top: 10px;
    text-align: center;
    color:black;
    margin-left: 50px;
  
}

.margin{
    margin: 10px 10px 10px 10px;
}

 a:hover{
   background-color: royalblue;
  border-radius: 15px;
  text-decoration-color: white;

} 


.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
 
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa {
    padding: 7px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    margin-left: 10px;
  }
  









  .p { 
    margin: 0px 50px 10px 500px;
    font-size:40px; 
    color: royalblue; 
    font-weight:bold; 
    font-style:italic;
  }
  .date {
    color: green;
    font-size: 40px;
  }
  .season { /* OK, a bit contrived... */
    color: #0000a0;
  }
  .p1 { 
    margin: 0px 50px 10px 400px;
    font-size:40px; 
    color: royalblue; 
    font-weight:bold; 
    font-style:italic;
  }

  #box {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
  }


  .logo{
    margin: 0px 150px 0px 70px;
  }

  .aa{
color: black;
padding: 5px 20px;
font-size: 20px;
text-decoration: none;
  }

